body {
  /*background: #f8f8f8;*/
  background-image: linear-gradient(
    rgba(124, 207, 252, 1),
    rgba(3, 174, 104, 0.25)
  );
  //background: rgb(3, 174, 104, 0.25);
  color: #606060;
  font-family: "Proxima", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-align: center;
  vertical-align: middle;
}

@font-face {
  font-family: "Proxima";
  src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: "Proxima Bold";
  src: url(../fonts/ProximaNova-Bold.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proxima Bold";
  font-weight: bold;
}

p {
  letter-spacing: 1px;
  line-height: 28px;
}

hr {
  border-color: #e0e0e0;
  margin: 0 auto 20px auto;
  width: 200px !important;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  font-size: 20px;
  text-align: left;
  font-weight: 900;
}

.title {
  padding-bottom: 40px;
}

.title h2 {
  color: #ebebeb;
  line-height: 1.2em;
}

.title-inverse h2 {
  color: #555555;
}

.title p {
  padding-top: 14px;
  padding-bottom: 30px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* preloader section */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}

.sk-spinner-wave.sk-spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.sk-spinner-wave div {
  background-color: #000000;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* home section */

#home {
  background: linear-gradient(
      to bottom right,
      rgba(36, 36, 36, 0.6),
      rgba(36, 36, 36, 0.6)
    ),
    url("../images/home-bg.jpg") 0 repeat-y fixed;
  background-size: cover;
  color: #ffffff;
  height: 135vh;
  text-align: center;
  position: relative;
}

#home .container {
  width: 100%;
}

#home .heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#home .heading h1 {
  font-size: 30px;
}

#home .heading h2 {
  font-size: 22px;
}

#home .heading h3 {
  font-size: 18px;
}

#home-logo div {
  display: inline-block;
  position: relative;
}

#home-logo div:nth-child(odd) {
  display: none;
}

#home-logo #vitlogo {
  float: left;
}

#home-logo #icamslogo {
  float: center;
}

#home-logo #VITMASlogo {
  float: right;
}

#vitlogo img {
  width: 275px;
  height: auto;
}

#icamslogo img {
  width: 250px;
  height: auto;
}

#VITMASlogo img {
  width: 80px;
  height: auto;
}

#home .btn {
  background: #ffffff;
  border-radius: 4px;
  border: 3px solid #fff;
  color: rgba(3, 174, 104, 0.75);
  font-size: 22px;
  font-weight: bolder;
  padding: 10px 40px;
}

#home .btn:hover {
  background-color: transparent;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

/* navigation section */

.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
  margin: 0 !important;
  z-index: 22;
  width: 100%;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 40px !important;
}

.navbar-default .navbar-nav li a {
  color: #606060;
  font-weight: bold;
  padding-right: 20px;
  line-height: 40px;
}

.navbar-default .navbar-nav li a:hover {
  color: rgba(3, 174, 104, 0.75);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #606060;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(4, 62, 121, 1);
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: rgba(3, 174, 104, 0.75);
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar .container {
  padding: 0;
  margin: 0;
  margin-left: 80px;
}

/* countdown section */

#countdown {
  padding: 200px 0 80px 0;
  background-color: #ebebeb;
}

#countdown .countdown-line {
  font-size: 22px;
  padding-bottom: 12px;
  font-weight: bold;
  font-variant: small-caps;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 0 5px 5px 5px;
  font-size: 32px;
  background: #fff;
  color: #555555;
  font-variant: small-caps;
  border-radius: 5%;
  display: inline-block;
}

#clockdiv div > span {
  padding: 5px 15px 0 15px;
  font-size: 40px;
  font-weight: bold;
  background: #fff;
  color: #393939;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

#icams p {
  text-align: justify;
  padding-top: 25px;
}

#icams a {
  margin-top: 25px;
  border: 2px solid #555555;
  color: #555555;
  background-color: #ebebeb;
  border-radius: 5%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
  transition: all 0.5s;
}

#icams a:hover {
  color: #ebebeb;
  text-decoration: none;
  border: 2px solid #555555;
  background-color: #555555;
  cursor: pointer;
}

/* intro section */

#intro {
  padding: 200px 0 80px 0;
}

#intro h4 {
  padding-bottom: 16px;
}

#intro p {
  text-align: justify;
}

#intro1 {
  padding: 200px 0 80px 0;
}

#intro1 h4 {
  padding-bottom: 16px;
}

#intro1 p {
  text-align: justify;
}

/* awards section */

#awards {
  padding: 200px 0 80px 0;
}

#awards h4 {
  padding-bottom: 16px;
}

#awards p {
  text-align: justify;
}

/* papercalls section */

#papercalls {
  padding: 200px 0 80px 0;
  background-color: #ebebeb;
}

#papercalls div p {
  text-align: justify;
}

#papercalls div p a:link {
  color: #555555;
  text-decoration: underline;
}

#papercalls div p:nth-child(2) {
  padding-top: 25px;
  text-align: left;
}

#papercalls #papernames {
  text-align: left;
}

#papercalls #papernames a {
  color: #555555;
  cursor: pointer;
}

/* work section */

#work {
  background: linear-gradient(
    to bottom right,
    rgba(50, 50, 50, 0.75),
    rgba(3, 174, 104, 0.75) 80%
  );
  color: #ebebeb;
  padding: 200px 0 80px 0;
}

#work .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#work .container .row {
  margin: 0 25px;
}

.sidenav {
  padding: 0px;
  overflow: auto;
  font-weight: bold;
}

.sidenav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.sidenav ul li {
  text-decoration: none;
  display: block;
  background-color: #ebebeb;
  color: #393939;
  cursor: pointer;
  padding: 0;
  transition: 0.2s;
}

[class^="ev-header-"] {
  font-size: 25px;
  padding: 20px 30px;
  margin: 10px 0;
}

[class^="mob-ev-content-"] {
  font-size: 14px;
  padding: 20px 30px;
  padding-top: 18px;
  text-align: justify;
}

.listing {
  border-left: solid 5px rgba(3, 174, 104, 0.75);
  padding-top: 25px;
}

.listing li {
  text-align: left;
}

/* accomodation section */

#accomodation {
  padding: 200px 0 80px 0;
  background-color: #ebebeb;
}

#accomodation .table tr th {
  text-align: center;
}

#accomodation .table tr td:nth-child(odd) {
  text-align: left;
}

/* timeline section */

#timeline {
  padding: 200px 0 80px 0;
  background-color: #f8f8f8;
}

#timeline .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.inner-timeline-container {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.inner-timeline-container:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: rgba(3, 174, 104, 0.75);
}

#timeline .tabs {
  display: inline-block;
  padding: 10px 25px;
  margin: 0;
  border: 3px solid rgba(3, 174, 104, 0.75);
  border-radius: 5%;
  font-weight: bold;
  transition: all 0.5s;
}

#timeline .tabs:hover {
  cursor: pointer;
  background-color: rgba(3, 174, 104, 0.75);
  color: #ebebeb;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid rgba(3, 174, 104, 0.75);
  background-color: #f8f8f8;
  margin-top: 10px;
  z-index: 9;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-content-right {
  text-align: right;
  direction: ltr;
}

.timeline-content-left {
  text-align: left;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 14px;
  color: #a4a4a4;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

/* speaker section */

#speaker {
  background: linear-gradient(
    to bottom right,
    rgba(50, 50, 50, 0.75),
    rgba(14, 3, 174, 1) 80%
  );
  color: #ebebeb;
  padding: 200px 0 80px 0;
}

#speaker .carousel div {
  text-align: center;
  margin: 0 12px;
}

#speaker div img {
  width: 200px;
  height: 200px;
}

/*imp_dates section*/

#imp_dates {
  padding: 200px 0 80px 0;
  background: linear-gradient(
    to bottom right,
    rgba(50, 50, 50, 0.75),
    rgba(14, 3, 174, 1) 80%
  );
  color: #ebebeb;
}

#imp_dates table td {
  padding-left: 50px;
  text-align: left;
}

/*Pricing section*/

#pricing {
  background: #ebebeb;
  padding: 200px 0 80px 0;
}

#pricing .container:nth-child(1) div.col-md-3,
div.col-sm-6 {
  padding-bottom: 20px;
}

.price {
  list-style-type: none;
  border: 2.5px solid #555555;
  border-radius: 2.5%;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 5px rgba(0, 0, 0, 0.2);
}

.price .header {
  color: #555555;
  font-size: 25px;
  font-variant: small-caps;
}

.price li {
  padding: 10px;
  text-align: center;
}

.price li:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
}

.price li:last-child {
  padding: 20px;
}

.price-button {
  border: 2px solid #555555;
  color: #555555;
  border-radius: 5%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
  transition: all 0.5s;
}

.price-button:hover {
  color: #ebebeb;
  text-decoration: none;
  border: 2px solid #555555;
  background-color: #555555;
  cursor: pointer;
}

.price-button-sm {
  background-color: #ffffff;
  font-size: 16px;
  padding: 5px 10px;
}

.form-control:focus {
  border-color: rgba(3, 174, 104, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(3, 174, 104, 0.75);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invi_text {
  display: none;
}

.radio,
.checkbox {
  text-align: left;
  transform: translate(0%, -20%);
}

/*Committee Section*/

#committee {
  background-color: #f8f8f8;
  color: #555555;
  padding: 200px 0 80px 0;
}

#committee .title {
  padding-bottom: 0;
}

#committee .team-gallery {
  padding-top: 50px;
}

#committee .team-gallery .img-container {
  height: 50%;
  overflow: hidden;
}

#committee .team-gallery .img-container img {
  width: 200px;
  height: 200px;
}

#committee .team-gallery .img-desc {
  padding-top: 20px;
}

#committee .team-gallery .img-desc p {
  padding: 0;
  margin: 0;
}

#committee .team-gallery .img-desc p:first-child {
  font-weight: bold;
}

/*.list_name{
    padding-top: 25px;
    height: 500px;
    overflow-y: scroll;
}*/

.list_name div {
  padding-top: 25px;
}

.list_name ul li {
  text-align: left;
}
.list_name ol li {
  margin: 0 25%;
}

/*Downloads section */

#downloads {
  padding: 200px 0 80px 0;
  background-color: #ebebeb;
}

#downloads .brochure {
  padding-bottom: 25px;
}

#downloads .brochure img {
  height: 125px;
  width: auto;
}

#downloads .register img {
  height: 125px;
  width: auto;
}

#downloads h4 span a {
  color: #555555;
}

/*membership section */

#membership {
  padding: 200px 0 80px 0;
  background-color: #ebebeb;
}

#membership .brochure {
  padding-bottom: 25px;
}

#membership .brochure img {
  height: 125px;
  width: auto;
}

#membership .register img {
  height: 125px;
  width: auto;
}

/* google map section */

.google-maps {
  position: relative;
  padding-bottom: 50%;
  /*Aspect ratio*/
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* contact section */

#contact {
  padding: 200px 0 80px 0;
  margin: 0;
}

#contact .contacts-sec {
  padding-top: 80px;
  text-align: center;
  font-size: 20px;
}

#contact .contacts-sec p:first-child {
  font-size: 24px;
  font-weight: bold;
}

#contact .contacts-sec p:nth-child(2) {
  font-size: 18px;
}

/*footer section */

footer {
  color: #ebebeb;
  background-color: #333333;
  padding: 0;
}

.social-icon {
  padding: 0;
  padding-top: 40px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  background: #f8f8f8;
  border-radius: 100%;
  color: rgba(3, 174, 104, 0.75);
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin: 0 6px 40px 6px;
}

.social-icon li a:hover {
  background: rgba(3, 174, 104, 0.75);
  color: #ffffff;
}

/*@media only screen and (min-width:880px) and (max-width: 900px) {
    #home-logo div:nth-child(odd) {
        display: inline-block;
    }
    #home-logo #icamslogo {
        transform: translate(-10%, 0%);
    }
    #home-logo #siamlogo {
        transform: translate(-40%, 5%);
    }
}*/

/*@media only screen and (min-width:1441px) {
    #home-logo div:nth-child(odd) {
        display: inline-block;
    }
    #home-logo #icamslogo {
        transform: translate(-25%, 0%);
    }
    #home-logo #siamlogo {
        transform: translate(0%, 5%);
    }
}*/

@media only screen and (min-width: 980px) {
  #home-logo div:nth-child(odd) {
    display: inline-block;
  }
}

@media only screen and (min-width: 767px) {
  #home .heading h1 {
    font-size: 55px;
  }

  #home .heading h2 {
    font-size: 35px;
  }

  #home .heading .btn {
    margin-top: 50px;
  }

  #work .container .row {
    margin: 0;
  }

  .sidenav ul {
    margin: 0 60px;
    margin-top: 20px;
  }

  .sidenav ul li {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ebebeb;
    overflow: auto;
    padding: 0;
    margin-bottom: 10px;
    transition: 0.2s;
  }

  .sidenav ul li:hover {
    color: #ebebeb;
    background-color: #393939;
  }

  [class^="ev-header-"] {
    text-align: left;
    font-size: 20px;
    padding: 15px 0 15px 25px;
  }

  [class^="mob-ev-content-"] {
    display: none;
  }

  [class^="desk-ev-content-"] {
    padding: 10px 50px 0 50px;
    text-align: left;
    font-size: 20px;
  }

  [class^="desk-ev-header-"] {
    text-align: left;
    font-size: 30px;
    margin: 0 50px;
    margin-left: 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ebebeb;
  }
  .listing {
    border: none;
  }
  .list_name {
    padding-top: 100px;
  }
  #contact .contacts {
    text-align: left;
  }
}
@media (max-width: 576px) {
  .body {
    font-size: 1rem;
  }
  #home {
    height: 200vh;
  }
  .navbar-header .navbar-brand {
    margin-left: 80px;
    margin-bottom: 10px;
  }
  .navbar .container {
    margin: 0;
  }
  .list_name ol li {
    margin: 0;
  }
}
